<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <ul>
    <% if (locals.users) {%>
    <% users.forEach(function(user) { %>
    <li>ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %> <%= user.email %> <%= user.age %></li>
    <p><%= user.bio %></p>
    <% }); %>
    <% } %>
  </ul>

  <a href="/">Back To User List</a>
</body>

</html>